<header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo">Coalizão Pelo Clima</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">A Coalizão</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Organização</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Ações</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Conteúdos</a>
            </li>
        </ul>
        <ul class="nav-login">
            <li class="nav-login_item"><a href="#" class="nav-link">Login</a></li>
            <li class="nav-login_item"><a href="#" class="nav-link">Junte-se!</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>