<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index_style.css">
    <title>Coalizão Pelo Clima SP</title>
</head>
<body>
    <nav>
        <a href="" role="button"><span></span></a>
        <ul>
            <li>Quem somos</li>
            <li>Materiais</li>
            <li>Como fazer</li>
        </ul>
    </nav>
</body>
</html>