<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <img src="./public/logo.png"> -->
            <h1>Coalizão <br>Pelo Clima</h1>
        </div>
        <nav id="header__items">
            <a href="...">Sobre nós</a>
            <a href="...">Organização</a>
            <a href="...">Ações</a>
            <a href="...">Materiais</a>
            <a href="...">Blog</a>
        </nav>
    </header>
    <main>
        <h1>h1 a ser definido</h1>
        <img src=>
        <section id=section_5>
            <div id=section_5_text>
                <h2>
                    Assine nossos boletins!
                </h2>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam eget ultrices lorem. Nunc vel consequat erat, sed vestibulum ligula.
                    Cras imperdiet dui quis quam imperdiet, sed faucibus enim tincidunt.
                </h3>
            </div>
            <div id=section_5_forms>
                <form id=section_5_forms_nome>
                    <input type="text" name="Nome" placeholder="Nome"> 
                </form>
                <form id=section_5_forms_email>
                    <input type="email" name="E-Mail" placeholder="E-Mail">
                </form>
                <form id=section_5_forms_enviar>
                    <input type="submit" name="Enviar" placeholder="Enviar">
                </form>
            </div>
        </section>
    </main>
</body>
</html>