<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index_style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="logo">
            <!-- <img src="./public/logo.png"> -->
            <h1>Coalizão <br>Pelo Clima</h1>
        </div>
        <nav id="header__items">
            <a href="...">Sobre nós</a>
            <a href="...">Organização</a>
            <a href="...">Ações</a>
            <a href="...">Materiais</a>
            <a href="...">Blog</a>
        </nav>
    </header>
    <main>
        <h1>h1 a ser definido</h1>
        <img src=>
    </main>
</body>
</html>